// .effective-datatables-filters { margin-bottom: 10px; }
// .effective-datatables-filters-scopes { display: inline-block; margin-right: 10px; }
// .effective-datatables-filters-inputs { display: inline-block; }
// .effective-datatables-filters-inputs span.select2-container { display: inline-block; }
// .effective-datatables-filters-inputs .form-group { margin-right: 10px; }
// .effective-datatables-filters-inputs .control-label { margin-right: 3px; }
// .effective-datatables-filters-btn { display: inline-block; }
