.effective-datatable-filters { margin-bottom: 10px; }
.effective-datatables-scopes { margin-bottom: 10px; }
.effective-datatables-filters-inputs { }
.effective-datatables-filters-inputs .form-group { margin-right: 10px; }
.effective-datatables-filters-inputs .control-label { margin-right: 3px; }
