.dataTables_wrapper {   // This is the Header
  overflow-x: auto;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  table.dataTable.sorting-hidden {
    thead {
      .sorting_asc { background: none; cursor: default; }
      .sorting_desc { background: none; cursor: default; }
      .sorting { cursor: default; }

      tr, th {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  table.dataTable {
    border-collapse: collapse;
    box-sizing: border-box;

    .form-inline, .form-control { width: 100%; }
    thead, tr, th { padding-left: 6px; }
  }

  .dataTables_processing {
    height: 60px;
  }

  .dataTables_paginate {
    overflow: hidden;

    .pagination {
      padding: 0px;

      .paginate_button {
        padding: 0px;

        &:hover {
          background: none;
          border: 1px solid transparent;
        }

        &:active {
          background: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  .DTTT_container {
    float: none;
    width: 190px;
    margin: auto;
  }
}

ul.ColVis_collection {
  width: 240px;
}

div.DTTT_print_info {
  h6 { color: black; }
  p { color: black; }
}

