- if show_path
  - if show_action == true || (EffectiveDatatables.authorized?(controller, :show, resource) rescue false)
    = show_icon_to send(show_path, resource.to_param)

- if edit_path
  - if edit_action == true || (EffectiveDatatables.authorized?(controller, :edit, resource) rescue false)
    = edit_icon_to send(edit_path, resource.to_param)

- if destroy_path
  - if destroy_action == true || (EffectiveDatatables.authorized?(controller, :destroy, resource) rescue false)
    = destroy_icon_to send(destroy_path, resource.to_param), method: :delete
