.btn-group.buttons-bulk-actions
  %button.btn.btn-default.dropdown-toggle{'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false, 'disabled' => 'disabled'}
    Bulk Actions
    %span.caret
  .dropdown-menu
    - if datatable._bulk_actions.present?
      = datatable._bulk_actions.join.html_safe
    - else
      %a.dropdown-item{href: '#'} No bulk actions
