- id = (resource.public_send(resource_method) rescue resource.object_id)
= check_box_tag 'bulk_actions_resources[]', id, false, autocomplete: 'off', id: "bulk_actions_resource_#{id}", data: { role: 'bulk-actions-resource' }
