.btn-group.buttons-bulk-actions
  %button.btn.btn-default.dropdown-toggle{'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false, 'disabled' => 'disabled'}
    Bulk Actions
    %span.caret
  %ul.dropdown-menu
    %li
      %a{href: '#'} Action One
      %a{href: '#'} Action Two
