.btn-group.buttons-bulk-actions
  %button.btn.btn-default.dropdown-toggle{'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false, 'disabled' => 'disabled'}
    Bulk Actions
    %span.caret
  %ul.dropdown-menu
    - if dropdown_block.respond_to?(:call)
      = capture do
        - instance_exec(&dropdown_block)
    - else
      %li
        %a{href: '#'} No bulk actions
