- id = (resource.try(:to_param) || resource.try(:id) || resource.object_id)
- value = resource.send(column[:reorder])

%input{type: 'hidden', value: value, 'data-reorder-resource': id}
= icon('move')
= value
