- Array(local_assigns[:resource_name] ? resource.public_send(resource_name) : resource).each do |resource|
  - resource_to_s = ((local_assigns[:resource_to_s] && resource) ? resource.public_send(resource_to_s) : resource.to_s)

  - if resource_to_s.present?
    .col-resource_item
      - if edit_action && EffectiveDatatables.authorized?(controller, :edit, resource) && (path = effective_resource.action_path(:edit, resource)).present?
        = link_to resource_to_s, path, title: resource_to_s
      - elsif show_action && EffectiveDatatables.authorized?(controller, :show, resource) && (path = effective_resource.action_path(:show, resource)).present?
        = link_to resource_to_s, path, title: resource_to_s
      - else
        = resource_to_s.to_s.html_safe
