- Array(datatable.array_collection? ? resource : resource.send(name)).each do |resource|
  .col-resource_item
    - if edit_action && EffectiveDatatables.authorized?(controller, :edit, resource) && (path = effective_resource.action_path(:edit, resource)).present?
      = link_to resource.to_s, path, title: resource.to_s
    - elsif show_action && EffectiveDatatables.authorized?(controller, :show, resource) && (path = effective_resource.action_path(:show, resource)).present?
      = link_to resource.to_s, path, title: resource.to_s
    - else
      = resource.to_s.html_safe
