@import 'dataTables/jquery.dataTables.min';
@import 'dataTables/dataTables.bootstrap.min';

@import 'dataTables/buttons/buttons.dataTables.min';
@import 'dataTables/buttons/buttons.bootstrap.min';

@import 'effective_datatables/overrides';
