@import 'dataTables/dataTables.bootstrap';

@import 'dataTables/buttons/buttons.bootstrap';
@import 'dataTables/colReorder/colReorder.bootstrap';
@import 'dataTables/responsive/responsive.bootstrap';

@import 'effective_datatables/overrides';

@import 'effective_datatables/scopes';
