@import 'dataTables/dataTables.bootstrap';

@import 'dataTables/buttons/buttons.bootstrap';
@import 'dataTables/responsive/responsive.bootstrap';

@import 'effective_datatables/filters';
@import 'effective_datatables/overrides';
