@import 'dataTables/jquery.dataTables.min';
@import 'dataTables/dataTables.bootstrap.min';

@import 'dataTables/buttons/buttons.dataTables.min';
@import 'dataTables/buttons/buttons.bootstrap.min';

@import 'dataTables/colReorder/colReorder.dataTables.min';
@import 'dataTables/colReorder/colReorder.bootstrap.min';

@import 'dataTables/responsive/responsive.dataTables.min';
@import 'dataTables/responsive/responsive.bootstrap.min';

@import 'effective_datatables/overrides';
